{% extends "base.html" %}
{% block title %}Produtos {% endblock %}

{% block content %}
    <h3>Página de Produtos</h3>

    <table>
        <tr>
            <th></th>
            <th>Produto</th>
            <th>Preço</th>
        </tr>
        {% for produto in produtos %}
            <tr>
                <td><img src="{{ produto.imagem.url }}" width="250" height="300"></td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}