{% extends "base.html" %}
{% block title %}Produtos {% endblock %}

{% block content %}
    <h3>Página de Produtos</h3>

        {% for produto in produtos %}
            
            <section class="card-produto">
                {% if produto.foto.url != null %}
                <img src="{{ produto.foto.url }}" alt="Foto de {{produto.nome}}">
                {% else %}
                <img src="/static/images/semFoto.png" alt="Foto padrão de usuário">
                {% endif %}
                <div class="info-produto">
                    <h4>{{produto.nome}}</h4>
                    <p>nome: {{produto.nome}} </p>
                    <p>valor: {{produto.valor}} </p>
                    <p>quantidade: {{produto.quantidade}}</p>
                    {% if produto.status == True %}
                        <p>Situação: Ativo</p>
                    {% endif %}
                </div>
            </section>
        {% endfor %}
   
{% endblock %}